function another 0
push constant 12
call String.new 1
push constant 72 // H
call String.appendChar 2
push constant 69 // E
call String.appendChar 2
push constant 76 // L
call String.appendChar 2
push constant 76 // L
call String.appendChar 2
push constant 79 // O
call String.appendChar 2
push constant 32 // SPAZIO
call String.appendChar 2
push constant 87 // W
call String.appendChar 2
push constant 79 // O
call String.appendChar 2
push constant 82 // R
call String.appendChar 2
push constant 76 // L
call String.appendChar 2
push constant 68 // D
call String.appendChar 2
push constant 33 // !
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return